<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Website</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Box Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- Header -->
  <header>
    <div class="nav container">
      <!-- Logo -->
      <a href="/" class="logo">Elvire<span>dev</span></a>
      <!-- Nav Right -->
      <div class="nav-right">
        <a href="/admin" class="admin-btn"><i class='bx bx-user'></i></a>
        <a href="/add" class="write-btn"><i class='bx bx-pencil'></i>Écrire</a>
      </div>
    </div>
  </header>

  <!-- Home -->
  <section class="home" id="home">
    <div class="home-content">
      <h2>Elviredev Blog</h2>
      <!-- Search Box -->
      <div class="search-box">
        <i class='bx bx-search'></i>
        <input type="search" name="" id="" placeholder="Rechercher">
      </div>
    </div>
  </section>

  <!-- Post Filter -->
  <div class="post-filter container">
    <span class="filter-item active-filter" data-filter="all">Tous</span>
    <span class="filter-item" data-filter="Art">Art</span>
    <span class="filter-item" data-filter="Technologie">Technologie</span>
    <span class="filter-item" data-filter="Nourriture">Nourriture</span>
  </div>

  <!--  Posts -->
  <section class="posts container" id="posts">
  <!-- Post will show here -->
  </section>

  <!-- Footer -->
  <div class="footer container">
    <p>&#169; Elviredev</p>
    <div class="social">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-linkedin'></i></a>
    </div>
  </div>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <!-- Link to JS -->
  <script src="/js/main.js"></script>
  <script>
    // Filter JS
    $(document).ready(function() {
      $(".filter-item").click(function () {
        const value = $(this).attr("data-filter");
        if (value === "all") {
          $(".post").show("1000")
        } else {
          $(".post")
            .not("." + value)
            .hide("1000");
          $(".post")
            .filter("." + value)
            .show("1000");
        }
      })
      // Active button
      $(".filter-item").click(function() {
        $(this)
          .addClass("active-filter")
          .siblings()
          .removeClass("active-filter")
      })
    })
  </script>
</body>
</html>